# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.dots-horde-defense.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\user\workspace\repos\github\unity-dots-horde-defense\dots-horde-defense\.idea\.idea.dots-horde-defense\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
